<div class="container">
  <div class="row">
    <div class="col text-center">
      <img
        src="img/mahiru-shiina.png"
        alt="Mahiru Shiina"
        class="img-thumbnail rounded-circle"
        width="200px"
      />
      <h1 class="display-4">Mahiru Shiina</h1>
      <p class="lead">Istri Ryutaaa | Malaikat</p>
    </div>
  </div>
</div>
