<div>
  <h4>Daftar mahasiswa</h4>

  <% if (mahasiswa.length < 1) { %>
  <p>data mahasiswa masih kosong</p>
  <% }else{ %> <% mahasiswa.forEach(mhs => { %>
  <ul>
    <li>Nama : <%= mhs.nama %></li>
    <li>email : <%= mhs.email %></li>
  </ul>
  <% }) %> <% } %>
</div>
